@import "./variables";
@import "./mixin";

.customers_containers {
  display: none;
  padding: 12% 3%;

  h3 {
    background: linear-gradient(90.16deg, #355ded 0.21%, #6f33f0 100.08%),
      linear-gradient(90.37deg, #2d56ec 0.3%, #1aacea 112.39%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
    text-align: center;
    margin: 15%;
    margin-bottom: 10%;
  }

  .cards_container {
    display: flex;

    gap: 20px;
    flex-direction: column;
    .card {
      padding: 20px;
      border-radius: 20px;
      margin: 0 5%;
      .icon {
        width: 32px;
        height: 32px;
      }

      .title_container {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 5%;

        .title {
          color: var(--600, #475569);
          font-size: 20px;
          font-weight: 600;
        }

        .position {
          color: var(--500, #64748b);
          font-size: 14px;
          font-weight: 400;
        }
      }

      .content {
        line-height: 1.5;
        color: var(--500, #64748b);
      }
    }

    .first_card {
      border: 1px solid #365eee4d;
      background: #365eee1a;
    }

    .second_card {
      background: #1aacea1a;
      border: 1px solid #1aacea4d;
    }

    .third_card {
      background: #2480eb1a;
      border: 1px solid #2480eb4d;
    }
  }

  @include lg {
    display: block;
    padding: 1% 3%;
    padding-bottom: 8%;
    h3 {
      margin: 6%;
      margin-bottom: 5%;
      font-size: 40px;
    }

    .cards_container {
      flex-direction: row;

      .card {
        margin: 0 1%;

        .title_container {
          margin: 6% 0;

          .title{
            margin-bottom: 5%;
          }
        }
      }
    }
  }
}
