@import "./variables";
@import "./mixin";

.footer_container {
  padding: 10%;

  .footer_uper {
    border-bottom: 1px solid #cfdeed;
    padding-bottom: 12%;
  
  }
  .logo {
    margin-bottom: 7%;
  }

  .link {
    margin-bottom: 4%;
    display: flex;
    align-items: center;
    gap: 8px;
    .link_text {
      color: var(--500, #64748b);
    }
  }
  .media_container {
    color: var(--400, #94a3b8);
    display: flex;
    align-items: center;
    gap: 20px;

    .icons {
      display: flex;
      gap: 24px;
    }
  }

  .lower_links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15% 0px;
    padding-bottom: 10%;

    .lower_link {
      color: var(--500, #64748b);
    }
  }

  .trial_container {
    display: flex;
    align-items: center;
    font-weight: 400;
    p {
      color: var(--500, #64748b);
    }
  }

  @include lg {
    padding-bottom: 5%;
    .footer_uper {  display: flex;
        justify-content: space-between;
        align-items: center;
      .logo {
        width: 18%;
      }

      .right_links {
        width: 50%;
      }
    }

    .footer_lower {
      display: flex;
      justify-content: space-between;
      padding: 5% 0;
      padding-bottom: 0;

      .lower_links {
        width: 40%;
        padding: 0;
      }
    }
  }
}
