@import "./variables";
@import "./mixin";

.hero_container {
  .hero_info {
    text-align: center;
    margin: 12% 4.8%;
    h3 {
      background: linear-gradient(90.16deg, #2d56ec 0.21%, #1aacea 100.08%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 5%;
    }
    h1 {
      color: var(--700, #334155);
      margin-bottom: 5%;
      line-height: 1.3;
    }
    p {
      color: var(--500, #64748b);
      line-height: 1.2;
    }
  }

  .hero_form {
    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;

      input {
        border-radius: 4px;
        padding: 12px 16px;
        width: 312px;
        height: 44px;
        font-size: 15px;
        border: 1px solid var(--300, #cbd5e1);
        background: var(--100, #F1F5F9);

      }

      button {
        background: linear-gradient(0deg, #1353dd, #1353dd),
          linear-gradient(93.69deg, #2d56ec -14.13%, #1aacea 120.91%);
        outline: none;
        border: none;
        width: 312px;
        height: 44px;
        font-size: 17px;
        border-radius: 4px;
        color: white;
        // font-weight: bold;
      }

      ::placeholder { 
        color: var(--400, #94A3B8);

     }
    }
    .trial_container {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      margin: 4%;
      p {
        color: var(--500, #64748b);
      }
    }
  }

  @include md {
    .hero_info {
      margin: 4% 4.8%;
      h3 {
        font-size: 28px;
        margin-bottom: 1%;
      }
      h1 {
        font-size: 56px;
        margin-bottom: 2%;
      }
      p {
        font-size: 18px;
        width: 60%;
        color: var(--500, #64748b);
        line-height: 1.4;
        margin: 0 auto;
      }
    }

    .hero_form {
      form {
        flex-direction: row;
        gap: 8px;

        .name_input {
          width: 200px;
        }

        .email_input{
          width: 352px;
        }       

        button {
          width: 112px;
        }
      }
      .trial_container {
        margin: 2%;
      }
    }
  }
}
